.courseCard {
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
	cursor: pointer;

	box-shadow: var(--mantine-shadow-sm);

    transition: background-color 0.2s ease;

	&:hover {
		background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
	}
}
